
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>内容管理</title>
<link rel="stylesheet" type="text/css" href="../style/admin.css" />
</head>
<body id="sidebar">

<dl>
	<dt><h3>内容管理</h3></dt>
	<dd><a href="../admin/nav.php?action=show" target="main">设置网站导航</a></dd>
	<dd><a href="../admin/content.php?action=show" target="main">查看文档列表</a></dd>
</dl>

</body>
</html>