
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>sidebar</title>
<link rel="stylesheet" type="text/css" href="../style/admin.css" />
</head>
<body id="sidebar">

<dl>
	<dt><h3>管理首页</h3></dt>
	<dd><a href="../admin/main.php" target="main">后台首页</a></dd>
	<dd><a href="../admin/manage.php?action=show" target="main">管理员管理</a></dd>
	<dd><a href="../admin/level.php?action=show" target="main">等级管理</a></dd>
</dl>


</body>
</html>